doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title PUG-sass Solutions with CodeTap Academy Students
  body
    a(href="/") HOME
    p this is my card